In [3]:
import pandas as pd

#import data
df = pd.read_csv("13F_filtered.csv")

#preview first 5 lines of data
display(df.head())

,date,record_id,iCIK,stock_id,period_end,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,2013-01-02 00:00:00+00:00,37942554,732857,G0692U109,2012-12-31,0,0,0,63005.0,2162.0,0.012254
1,2013-01-02 00:00:00+00:00,37942555,732857,384313102,2012-12-31,0,0,0,17450.0,158.0,0.000895
2,2013-01-02 00:00:00+00:00,37942556,732857,032511107,2012-12-31,0,0,0,16709.0,1208.0,0.006847
3,2013-01-02 00:00:00+00:00,37942557,732857,37946S107,2012-12-31,0,0,0,47502.0,176.0,0.000998
4,2013-01-02 00:00:00+00:00,37942558,732857,31428X106,2012-12-31,0,0,0,14511.0,1312.0,0.007436

In [6]:
#finds all unique stocks
print (df.stock_id.unique())
#find all unique dates
print (df.period_end.unique())

['G0692U109' '384313102' '032511107' ... '92347D100' '98741T104'
 '37954Y392']
['2012-12-31' '2012-09-30' '2013-06-30' '2014-12-31' '2014-06-30'
 '2013-12-31' '2014-03-31' '2013-09-30' '2013-03-31' '2012-06-30'
 '2012-03-31' '2011-12-31' '2011-09-30' '2011-06-30' '2011-03-31'
 '2010-12-31' '2010-09-30' '2010-06-30' '2010-03-31' '2009-12-31'
 '2009-09-30' '2009-06-30' '2009-03-31' '2008-12-31' '2008-09-30'
 '2008-06-30' '2008-03-31' '2007-12-31' '2007-09-30' '2007-06-30'
 '2007-03-31' '2006-12-31' '2014-09-30' '2015-03-31' '2015-06-30'
 '2015-09-30' '2015-12-31' '2016-03-31' '2016-06-30' '2016-09-30'
 '2016-12-31' '2017-03-31' '2017-06-30' '2017-09-30' '2017-12-31'
 '2018-03-31' '2018-06-30' '2018-09-30' '2018-12-31' '2019-03-31'
 '2019-06-30' '2019-09-30' '2019-12-31' '2020-03-31']

In [ ]:
#empty dictionary that stores dataframes by quarters
dfs={}
for date in df.period_end.unique():
    #(df[df["period_end"] == date])
    #classifies by period_end and adds to dictionary
    dfs[date] = df[df["period_end"] == date]
    print (dfs[date])

In [ ]:
print(dfs["2012-12-31"])

In [ ]:
def counter(currentdf):
    #empty dictionary that will store number of times a stock appears
    dfs2 = (currentdf.stock_id.value_counts())
    return(dfs2)

#counter(dfs["2012-12-31"])

print ("period_end denotes end of the previous quarter")

for i in df.period_end.unique():
    print ("\nFor period_end", i, ":")
    print (counter(dfs[i]))

# PROCESS
#sort data by period end date
#within each quarter, count how many times the stock appears

#x1 The number of funds that held the stock in the past quarter
#iCIK is fund identifier
#stock_id is the stock identifier
#divide timeframe into quarters - split csv into 
#find each individual stock in the 13f file
#everytime another row of that stock id is found, add one to the count of the variable


#load data set into dataframe
#load everything within requested dates into second dataframe
#array object