In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/junsu/Desktop/Rebellion Research/13F_filtered.csv")

In [3]:
len(np.unique(df.iCIK))

2350

In [4]:
df

,date,record_id,iCIK,stock_id,period_end,iAMEND,iRESTATEMENT,iTYPE,iQTY,iMARKET_VALUE,iLONG_FRACTION
0,2013-01-02 00:00:00+00:00,37942554,732857,G0692U109,2012-12-31,0,0,0,63005.0,2162.0,0.012254
1,2013-01-02 00:00:00+00:00,37942555,732857,384313102,2012-12-31,0,0,0,17450.0,158.0,0.000895
2,2013-01-02 00:00:00+00:00,37942556,732857,032511107,2012-12-31,0,0,0,16709.0,1208.0,0.006847
3,2013-01-02 00:00:00+00:00,37942557,732857,37946S107,2012-12-31,0,0,0,47502.0,176.0,0.000998
4,2013-01-02 00:00:00+00:00,37942558,732857,31428X106,2012-12-31,0,0,0,14511.0,1312.0,0.007436
5,2013-01-02 00:00:00+00:00,37942559,732857,92205F106,2012-12-31,0,0,0,53525.0,1387.0,0.007861
6,2013-01-02 00:00:00+00:00,37942560,732857,891027104,2012-12-31,0,0,0,39359.0,2006.0,0.011369
7,2013-01-02 00:00:00+00:00,37942561,732857,67058H102,2012-12-31,0,0,0,244853.0,10281.0,0.058269
8,2013-01-02 00:00:00+00:00,37942562,732857,Y7388L103,2012-12-31,0,0,0,429884.0,1432.0,0.008116
9,2013-01-02 00:00:00+00:00,37942563,732857,594918104,2012-12-31,0,0,0,37593.0,998.0,0.005656
10,2013-01-02 00:00:00+00:00,37942564,732857,Q39360104,2012-12-31,0,0,0,2302300.0,11090.0,0.062855
11,2013-01-02 00:00:00+00:00,37942565,732857,001765106,2012-12-31,0,0,0,10250.0,8.0,0.000045
12,2013-01-02 00:00:00+00:00,37942566,732857,071813109,2012-12-31,0,0,0,29636.0,1944.0,0.011018
13,2013-01-02 00:00:00+00:00,37942567,732857,Y62267102,2012-12-31,0,0,0,907368.0,11079.0,0.062792
14,2013-01-02 00:00:00+00:00,37942568,732857,723787107,2012-12-31,0,0,0,29977.0,3070.0,0.017400
15,2013-01-02 00:00:00+00:00,37942569,732857,87611X105,2012-12-31,0,0,0,19150.0,698.0,0.003956
16,2013-01-02 00:00:00+00:00,37942570,732857,219350105,2012-12-31,0,0,0,16003.0,200.0,0.001134
17,2013-01-02 00:00:00+00:00,37942571,732857,67073Y106,2012-12-31,0,0,0,16839.0,303.0,0.001717
18,2013-01-02 00:00:00+00:00,37942572,732857,013817101,2012-12-31,0,0,0,125119.0,1064.0,0.006030
19,2013-01-02 00:00:00+00:00,37942573,732857,22282E102,2012-12-31,0,0,0,13700.0,251.0,0.001423
20,2013-01-02 00:00:00+00:00,37942574,732857,570759100,2012-12-31,0,0,0,5900.0,295.0,0.001672
21,2013-01-02 00:00:00+00:00,37942575,732857,G7665A101,2012-12-31,0,0,0,40270.0,1227.0,0.006954
22,2013-01-02 00:00:00+00:00,37942576,732857,060505104,2012-12-31,0,0,0,138951.0,1578.0,0.008944
23,2013-01-02 00:00:00+00:00,37942577,732857,460146103,2012-12-31,0,0,0,20100.0,782.0,0.004432
24,2013-01-02 00:00:00+00:00,37942578,732857,456615103,2012-12-31,0,0,0,150087.0,2675.0,0.015161
25,2013-01-02 00:00:00+00:00,37942579,732857,29250R106,2012-12-31,0,0,0,73800.0,2051.0,0.011624
26,2013-01-02 00:00:00+00:00,37942580,732857,369604103,2012-12-31,0,0,0,80337.0,1642.0,0.009306
27,2013-01-02 00:00:00+00:00,37942581,732857,73755L107,2012-12-31,0,0,0,18017.0,717.0,0.004064
28,2013-01-02 00:00:00+00:00,37942582,732857,127097103,2012-12-31,0,0,0,47423.0,2316.0,0.013126
29,2013-01-02 00:00:00+00:00,37942583,732857,72388B106,2012-12-31,0,0,0,209019.0,4626.0,0.026219
...,...,...,...,...,...,...,...,...,...,...,...
2070861,2020-04-23 00:00:00+00:00,74561231,1638520,674599105,2020-03-31,0,0,0,64348.0,745000.0,0.003800
2070862,2020-04-23 00:00:00+00:00,74561232,1638520,57636q104,2020-03-31,0,0,0,11864.0,2866000.0,0.014618
2070863,2020-04-23 00:00:00+00:00,74561233,1638520,025816109,2020-03-31,0,0,0,6949.0,595000.0,0.003035
2070864,2020-04-23 00:00:00+00:00,74561234,1638520,02079K305,2020-03-31,0,0,0,4678.0,5436000.0,0.027727
2070865,2020-04-23 00:00:00+00:00,74561235,1638520,464287465,2020-03-31,0,0,0,5295.0,283000.0,0.001443
2070866,2020-04-23 00:00:00+00:00,74561236,1638520,084670702,2020-03-31,0,0,0,5323.0,973000.0,0.004963
2070867,2020-04-23 00:00:00+00:00,74561237,1638520,46432F396,2020-03-31,0,0,0,21242.0,2262000.0,0.011538
2070868,2020-04-23 00:00:00+00:00,74561238,1638520,92826c839,2020-03-31,0,0,0,19762.0,3184000.0,0.016240
2070869,2020-04-23 00:00:00+00:00,74561239,1638520,110122108,2020-03-31,0,0,0,7154.0,399000.0,0.002035
2070870,2020-04-23 00:00:00+00:00,74561240,1638520,037833100,2020-03-31,0,0,0,48091.0,12229000.0,0.062375
2070871,2020-04-23 00:00:00+00:00,74561241,1638520,452327109,2020-03-31,0,0,0,1002.0,274000.0,0.001398
2070872,2020-04-23 00:00:00+00:00,74561242,1638520,002824100,2020-03-31,0,0,0,11094.0,875000.0,0.004463
2070873,2020-04-23 00:00:00+00:00,74561243,1638520,126650100,2020-03-31,0,0,0,9000.0,534000.0,0.002724
2070874,2020-04-23 00:00:00+00:00,74561244,1638520,381430206,2020-03-31,0,0,0,274726.0,7190000.0,0.036673
2070875,2020-04-23 00:00:00+00:00,74561245,1638520,46434V274,2020-03-31,0,0,0,447002.0,9056000.0,0.046191
2070876,2020-04-23 00:00:00+00:00,74561246,1638520,256677105,2020-03-31,0,0,0,3288.0,497000.0,0.002535
2070877,2020-04-23 00:00:00+00:00,74561247,1638520,594918104,2020-03-31,0,0,0,17217.0,2715000.0,0.013848
2070878,2020-04-23 00:00:00+00:00,74561248,1638520,46138E735,2020-03-31,0,0,0,57589.0,1330000.0,0.006784
2070879,2020-04-23 00:00:00+00:00,74561249,1638520,00724F101,2020-03-31,0,0,0,3015.0,959000.0,0.004891
2070880,2020-04-23 00:00:00+00:00,74561250,1638520,254687106,2020-03-31,0,0,0,45107.0,4357000.0,0.022223
2070881,2020-04-23 00:00:00+00:00,74561251,1638520,016255101,2020-03-31,0,0,0,1672.0,291000.0,0.001484
2070882,2020-04-23 00:00:00+00:00,74561252,1638520,01609W102,2020-03-31,0,0,0,26993.0,5250000.0,0.026778
2070883,2020-04-23 00:00:00+00:00,74561253,1638520,149123101,2020-03-31,0,0,0,2536.0,294000.0,0.001500
2070884,2020-04-23 00:00:00+00:00,74561254,1638520,285512109,2020-03-31,0,0,0,45942.0,4602000.0,0.023473
2070885,2020-04-23 00:00:00+00:00,74561255,1638520,654106103,2020-03-31,0,0,0,6069.0,502000.0,0.002561
2070886,2020-04-23 00:00:00+00:00,74561256,1638520,550021109,2020-03-31,0,0,0,1320.0,250000.0,0.001275
2070887,2020-04-23 00:00:00+00:00,74561257,1638520,g1151c101,2020-03-31,0,0,0,4053.0,662000.0,0.003377
2070888,2020-04-23 00:00:00+00:00,74561258,1638520,988498101,2020-03-31,0,0,0,3611.0,247000.0,0.001260
2070889,2020-04-23 00:00:00+00:00,74561259,1638520,78462f103,2020-03-31,0,0,0,1742.0,449000.0,0.002290
2070890,2020-04-23 00:00:00+00:00,74561260,1638520,88160R101,2020-03-31,0,0,0,591.0,310000.0,0.001581

In [5]:
df.period_end = pd.to_datetime(df.period_end,format="%Y-%m-%d")

In [6]:
grouped = df.groupby(['iCIK','period_end']).count()
grouped = grouped.reset_index()
grouped = grouped.drop(grouped.iloc[:,3:],axis=1)
grouped = grouped.rename(columns = {'date':'holdings'})
grouped.head(5)

   iCIK period_end  holdings
0  7195 2012-12-31        52
1  7195 2013-03-31        51
2  7195 2013-06-30        51
3  7195 2013-09-30        52
4  7195 2013-12-31        52

In [7]:
max(grouped[grouped.iCIK==7195].period_end)-min(grouped[grouped.iCIK==7195].period_end)

Timedelta('2647 days 00:00:00')

In [8]:
stime_total = []
for i in np.array(np.unique(grouped.iCIK)):
    stime = max(grouped[grouped.iCIK==i].period_end)-min(grouped[grouped.iCIK==i].period_end)
    stime_total.append(stime.days)

In [9]:
average_stime = sum(stime_total) / len(stime_total)
average_stime

1175.6051063829786

In [10]:
high_cutoff = average_stime * 2 #High-Survival Fund -> twice the mean survival time 
low_cutoff = average_stime * 0.5 #Low_Survival Fund -> 50% below the mean 
print("High_cutoff is {} and Low_cutoff is {}".format(high_cutoff,low_cutoff))

High_cutoff is 2351.2102127659573 and Low_cutoff is 587.8025531914893

In [11]:
stime_total = np.array(stime_total)

In [12]:
print("The number of High-Survival Fund is {}".format(sum(stime_total > high_cutoff)))
print("The number of Mid-Survival Fund is {}".format(sum((stime_total < high_cutoff) & (stime_total > low_cutoff))))
print("The number of Low-Survival Fund is {}".format(sum(stime_total < low_cutoff)))

The number of High-Survival Fund is 547
The number of Mid-Survival Fund is 881
The number of Low-Survival Fund is 922

In [13]:
conditions = [stime_total > high_cutoff,(stime_total < high_cutoff) & (stime_total > low_cutoff),stime_total < low_cutoff]
choices = ["High","Mid","Low"]
category = np.select(conditions,choices,default=np.nan)

In [14]:
dict1 = {'funds':np.unique(grouped.iCIK),'survival_time':stime_total,'category':category}

In [19]:
final = pd.DataFrame(dict1)
final_merged = pd.merge(df,final,left_on="iCIK",right_on="funds",how="left")

In [21]:
final_merged.to_csv(r'C:/Users/junsu/Desktop/Rebellion Research/final.csv')